body{
    background-color: #494848;
    color: white;
    display: grid;
    place-items: center;

}

canvas{
    background-color: #030384;
}

h1{
    text-align: center;
}

span{
    margin-bottom: 15px;
    font-size: 30px;
}